@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
#app {
    font-family: 'Rokkitt', serif;    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #000000;
    background-color: rgb(253, 253, 253);
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
}
/* MAIN */
.screen{
  width: 100%;
  height: 100%;
}

li {list-style:none; vertical-align: middle;}
/* Extra */
.centerImage{
  position: absolute;
  height:auto;
  width: auto;
  max-width: 70%;
  max-height: 70%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* -> Components <- */
/* FOOTER */
#footer-networks{
  color: white;
  align-content: center;
  align-items: center;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #29738f;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#network{
  height: 100%;
  margin-left: 5%;
}
/* FORM LOGIN */
.label-login{
  text-align: left;
  color: #000000 ;
  width: 100%;
  padding: 5px;
  margin: auto;
}
#forgot-password:hover{
  cursor:pointer;
}

/* NAV BAR */
/* Owner */
.navBarO {
  background-color: #5394ac;
  border: none;
  display: flex;
}
/* Admin */
.navBarA {
  background-color: #011e29;
  border: none;
  display: flex;
}
/* President */
.navBarP {
  background-color: #175064;
  border: none;
  display: flex;
}
/* BuildingDoorman */
.navBarB {
  background-color: #024146f3;
  border: none;
  display: flex;
}


.componentsNavBar{
  text-align: center;
  align-items: center;
  vertical-align: middle;
  width: 20%;
  margin: auto;
  height: auto;
  color: rgb(255, 255, 255);
}

.componentsNavBar:hover{
  color: #fff;
  cursor:pointer;
}

.bootstrap-btn {
	display: inline-block;
	color: #f1f1f1;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	background-color: #ff7300;
}
.fa-left-long{filter:drop-shadow(3px 3px 3px #133744)}
.bootstrap-btn:hover{
  transition: 0.5s;
  background-color: #d1854b;
}


/* -> Views <- */

/* Extra */
#full{
  margin: 0;
  padding: 0;
}
#courts {
  filter: grayscale(1);
  transition: all 300ms;
}
#courts:hover{
  cursor: pointer;
  filter: grayscale(0);
} 
.title{
  font-size:xx-large;
}
.back-icon{
  height: 50%;
  width: 50%;
  color: #29738f;
}
.log-out-icon{
  margin:5%;
  height: 100%;
  width: 100%;
  color: #ffffff;
}
#grid-top{
  height: 95%;
  margin: 0;
  padding: 0;
}
#grid-bottom{
  height: 5%;
  margin: 0;
  padding: 0;
}
#topR{
  height: 10%;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#bottomR{
  height: 90%;
  margin: 0;
  padding: 0;
}


/* HOME */

#grid-top-home{
  height: 95%;
  margin: 0;
  padding: 0;
}
#grid-bottom-home{
  height: 5%;
  margin: 0;
  padding: 0;
}

.center-form{
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* Login*/
#grid-bottom-log{
  height: 94%;
  margin: 0;
  padding: 0;
}

#grid-top-log{
  height: 6%;
}
/* LOGIN President */
#graph-top{
  height: 50%;
  margin: 0;
  padding: 0;
  background-color: rgb(52, 52, 52);
}

#graph-bottom{
  height: 50%;
  margin: 0;
  padding: 0;
  background-color: rgb(246, 246, 246);
}


/* Deliveries*/
#bottomR-middle{
  align-content: center;
  height: 60%;
  margin: 0;
  padding: 0;
}
#bottomR-bottom{
  height: 30%;
  margin: 0;
  padding: 0;
}

